.loginBody {
    -fx-background-image: url(" images/imageLoginModif.jpg");
    -fx-background-repeat: no-repeat;
}


.body {
    -fx-background-color: #FAFAFA;
}

.subtitle {
    -fx-font-family: Roboto;
    -fx-font-style: normal;
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-text-fill: lightgray;
}

.title {
    -fx-font-size: 48px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-family: Roboto;
    -fx-text-fill: #303F9F;
}

.left {
    -fx-background-color: #FFFFFF;
}

.button1 {
    -fx-background-color: #3F51B5;
    -fx-text-fill: white;
    -fx-font-family: Roboto;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
    -fx-font-weight: 500;
}



.copyRight {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-family: Roboto;
    -fx-text-fill: #000000;
    -fx-opacity: 0.6;
}

.field {
    -fx-background-color: lightgray;
}

.LabelId {
    -fx-font-family: Roboto;
    -fx-text-fill: #3F51B5;
    -fx-font-size: 12px;
}

.Oubli {
    -fx-text-fill: #000000;
    -fx-opacity: 0.6;
    -fx-underline: true;
}

.text-area {
}

.showButton {

    -fx-background-repeat: no-repeat;
    -fx-background-image: url("images/Mask.png");
    -fx-pref-height: 0px;
    -fx-pref-width: 22px;
    -fx-background-position: left;
    -fx-background-color: transparent;

}

.fieldLabel {
    -fx-text-alignment: left;
    -fx-background-color: lightgray;
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-fill: #000000;
    -fx-opacity: 0.6;
}

.emptyInput {
    -fx-background-color: lightgray;
}

.wrongLoginMessage {
    -fx-text-fill: #FF0C3E;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;

}

.right {
    -fx-background-image: url("images/imageLoginModif.jpg");
    -fx-background-repeat: no-repeat;
}
