.root {
    -fx-max-height: 500px;
    -fx-max-width: 500px;
}

.poppupTitle {
    -fx-font-family: Roboto;
    -fx-font-size: 20px;
    -fx-opacity: 0.87;

}

.message {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-opacity: 0.87;
}

.poppupButton {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-text-fill: #3F51B5;
}


.errorEmptyField {
    -fx-text-fill: #FF0C3E;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
}


.popopLabelField {
    -fx-font-family: Roboto;
    -fx-font-size: 12px;
    -fx-pref-width: 362;
    -fx-max-height: 5px;

}

.popupInputField {
    -fx-fill: lightgray;
    -fx-background-color: lightgray;
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
}

.popupEmptyInputField {
    -fx-fill: lightgray;
    -fx-background-color: lightgray;
    -fx-border-style: none;
    -fx-min-height: 56px;
}

.popupStack {
    -fx-background-color: lightgray;
}

.popupShowButton {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("images/Mask.png");
    -fx-pref-height: 0px;
    -fx-pref-width: 22px;
    -fx-background-position: center;
    -fx-background-color: transparent;
}
