.calendarHeader {
    -fx-pref-height: 96px;
    -fx-pref-width: 1536px;
    -fx-background-color: #FAFAFA;
    -fx-alignment: center;
}

.table {
    -fx-background-color: transparent;

    -fx-pref-width: 1536px;
    -fx-pref-height: 500px;
    -fx-alignment: top-right;
}

.col {
    -fx-background-color: transparent;
    -fx-pref-width: 205px;
    -fx-pref-height: 500px;

}

.ColTitle {
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #212121;
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-pref-width: 205px;
    -fx-alignment: center;
    -fx-pref-height: 50px;
}

.tableLayout {

    -fx-pref-width: 750px;
    -fx-pref-height: 700px;
}

.vbox {
    -fx-pref-height: 700px;
    -fx-pref-width: 750px;
    -fx-border-width: 10px;
}

.day {
    -fx-background-color: #C5CAE9;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 200px;
    -fx-pref-width: 132px;
    -fx-pref-height: 36px;
    -fx-text-alignment: center;
    -fx-background-radius: 200px;
    -fx-alignment: center;

}

.dayDate {
    -fx-pref-width: 205px;
    -fx-pref-height: 30px;
    -fx-font-family: Roboto;
    -fx-font-size: 36px;
    -fx-text-fill: #212121;
    -fx-alignment: center;
}

.arrow {
    -fx-font-size: 36px;
}

.date {
    -fx-font-family: Roboto;
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
}

.select {
    -fx-pref-height: 36px;
    -fx-pref-width: 125px;
    -fx-alignment: center-right;
}

.dayDateSelct {
    -fx-background-color: #FF9800;
    -fx-border-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-font-family: Roboto;
    -fx-font-size: 36px;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
    -fx-background-radius: 50px;
}

.MonthTitle {
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #212121;
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-pref-width: 214px;
    -fx-alignment: center;
    -fx-pref-height: 50px;
}
