.root {
    -fx-max-height: 500px;
    -fx-max-width: 500px;
}

.poppupTitle {
    -fx-font-family: Roboto;
    -fx-font-size: 20px;
    -fx-opacity: 0.87;

}

.message {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-opacity: 0.87;
}

.poppupButton {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-text-fill: #3F51B5;
}


.errorEmptyField {
    -fx-text-fill: #FF0C3E;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
}

.fieldLabelpop {
    -fx-background-color: lightgray;
    -fx-font-family: Roboto;
    -fx-font-size: 12px;
}

.labelInput1 {
    -fx-background-color: lightgray;
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-fill: #000000;
    -fx-opacity: 0.6;
    -fx-border-style: none;
}

.stackField {
    -fx-background-color: lightgray;
}

.emptyInputpop {
    -fx-background-color: lightgray;
    -fx-pref-height: 56px;
}
