.root {
    -fx-alignment: top-left;
    -fx-background-image: url("imageLogin.jpg");
    -fx-background-color: #FAFAFA;
}


.body {
    -fx-padding: 64px;
    -fx-spacing: 64px;
}

.subtitle {
    -fx-font-family: Roboto;
    -fx-font-style: normal;
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-text-fill: #757575;
}

.title {
    -fx-font-size: 48px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-family: Roboto;
    -fx-text-fill: #303F9F;
}

.left {
    -fx-border-color: red;
}

.button {
    -fx-background-color: #3F51B5;
    -fx-text-fill: white;
    -fx-font-family: Roboto;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
    -fx-font-weight: 500;

}

.text-field {
    -fx-background-color: gray;

}

