.list-cell {
    -fx-control-inner-background: #3F51B5;

    -fx-border-width: 0 0 0 2;
    -fx-border-color: #3F51B5 #3F51B5 #3F51B5 #3F51B5;
}

.list-cell:odd {
    -fx-background-color: #3F51B5;
}

.list-cell:filled:hover {
    -fx-background-color: #3F51B5;
}


.list-cell:filled:selected:focused {
    -fx-background-color: #3F51B5;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #3F51B5 #3F51B5 #3F51B5 #303F9F;
}

.menu {
    -fx-background-color: #3F51B5;
   /* -fx-pref-width: 384px;*/
    /* -fx-pref-height: 1080px;*/
}


.list {
    -fx-background-color: #3F51B5;
    -fx-fill: #3F51B5;
    /*-fx-pref-width: 384px;*/
    -fx-spacing: 0px;
}



.AdminTitle {
    /*-fx-pref-width: 384px;*/
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Roboto;
    -fx-font-size: 24px;
    -fx-alignment: center;
}

.AdminSubtitle {
    /* -fx-pref-width: 384px;*/
    -fx-text-fill: #BDBDBD;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
    -fx-alignment: center;

}


.iconMenu {
    -fx-fill: #FFFFFF;
    -fx-font-size: 20px;
}
