.root {
    -fx-max-height: 248px;
    -fx-max-width: 280px;
}

.poppupTitle {
    -fx-font-family: Roboto;
    -fx-font-size: 20px;
    -fx-opacity: 0.87;

}

.message {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-opacity: 0.87;
}

.poppupButton {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-text-fill: #3F51B5;
}


.errorEmptyField {
    -fx-text-fill: #FF0C3E;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
}

.fieldLabelpop {
    -fx-font-family: Roboto;
    -fx-font-size: 12px;
    -fx-pref-width: 362;
    -fx-max-height: 5px;
}

.labelInput1 {
    -fx-background-color: lightgray;
    -fx-pref-width: 362px;
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-fill: #000000;
    -fx-opacity: 0.6;
}
