.root {
    -fx-max-height: 500px;
    -fx-max-width: 500px;
}

.poppupTitle {
    -fx-font-family: Roboto;
    -fx-font-size: 20px;
    -fx-opacity: 0.87;

}

.message {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-opacity: 0.87;
}

.poppupButton {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-text-fill: #3F51B5;
}

.labelInput1 {
    -fx-background-color: lightgray;
    -fx-font-family: Roboto;
    -fx-text-fill: #3F51B5;
    -fx-font-size: 12px;
    -fx-pref-width: 362;
    -fx-max-height: 5px;
}

.showButton {

    -fx-background-repeat: no-repeat;
    -fx-background-image: url("images/Mask.png");
    -fx-pref-height: 0px;
    -fx-pref-width: 22px;
    -fx-background-position: center;
    -fx-background-color: transparent;

}

.fieldLabel {
    -fx-background-color: lightgray;
    -fx-pref-width: 362px;
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-fill: #000000;
    -fx-opacity: 0.6;
}

.emptyInput {
    -fx-background-color: lightgray;
    -fx-pref-height: 56px;
}

.errorEmptyField {
    -fx-text-fill: #FF0C3E;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;

}
